/* You can add global styles to this file, and also import other style files */

body>* {
    font-family: "Arial" !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #87b83b;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #87b83b;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    align-items: flex-start;
    font-size: 18px;
    margin-top: 20px !important;
}

.lbl-title {
    font-size: 30px;
}

.breadcrumb-small {
    text-align: left;
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}

.breadcrumb-small a {
    color: #87b83b;
    text-decoration: none;
}

.breadcrumb-small span {
    margin-left: 2px;
}

.lbl-h1 {
    font-size: 30px;

}

.lbl-h2 {
    font-size: 20px;
}

.lbl-h3 {
    font-size: 16px;
}

.lbl-h1,
.lbl-h2,
.lbl-h3 {
    color: #790505;
}

a {
    text-decoration: none !important;
    color: #87b83b;
    background: transparent;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 2em !important;
    height: 2em !important;
}

.carousel-indicators {
    display: none !important;
}

.carousel-control-next {
    right: 44px !important;
}

.carousel-control-prev {

    left: 30px !important;
}

.carousel-control-next,
.carousel-control-prev {
    width: auto !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #87b83b;
}

.w100 {
    width: 100%
}

.p-inputnumber-input {
    text-align: center;
}

@media (max-width: 768px) {
    .lbl-title {
        font-size: 18px;
    }

    .lbl-h1 {
        font-size: 18px;
    }

    .lbl-h2 {
        font-size: 14px;
    }

    .lbl-h3 {
        font-size: 12px;
    }
}

@media (min-width: 576px) {

    .container {
        max-width: 540px !important;
    }
}

@media (min-width: 768px) {

    .container {
        max-width: 740px !important;
    }
}

@media (min-width: 992px) {

    .container {
        max-width: 980px !important;
    }
}

@media (min-width: 1200px) {

    .container {
        max-width: 1150px !important;
    }
}

@media (min-width: 1400px) {

    .container {
        max-width: 1400px !important;
    }
}